Source: statsny
Section: web
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Wade Simmons <wade@simplegeo.com>
Build-Depends: cdbs, debhelper (>= 7), python
Build-Depends-Indep: python-setuptools, python-support
Standards-Version: 3.9.1
Homepage: http://github.com/simplegeo/statsny/

Package: statsny
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 python-twisted-web,
 python-setuptools,
 python-ostrich (>= 0.2.7)
Recommends: nginx
Description: Statsny realtime stats collector
 A web-enabled python-ostrich, submit data with UDP and
 grab results with HTTP
