#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-post-install/bored::
	install -D -m 644 $(CURDIR)/debian/settings.py \
        $(DEB_DESTDIR)etc/statsny/settings.py

clean::
	-rm -rf build
